---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Wordmark from '../components/Wordmark.astro';
import Work from '../components/Work.astro';
import Archivo from '../components/Archivo.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <Wordmark />
    <Work />
    <Archivo />
  </main>
  <Footer />
</Layout>
